<div fxLayout="column" >
    <div >
        <app-nav-bar></app-nav-bar>
    </div>
    <div fxFlexOffset="5">
        <img fxLayout="column" src="assets/Images/real.jpg" class="main-image"  fxFlexOffset="15">
        <div fxLayout="column" fxFlexOffset="7">
            <h1  fxFlexOffset=".5">Real Madrid Official Store </h1>
            <p  fxFlexOffset="2.5"> SIGN UP AS A MADRIDISTA AND GET 5% OFF YOUR FIRST PURCHASE</p>
            <div  fxLayout="column" fxFlexOffset="3" class="logo-parent">
                <img src="assets/Images/Google_Play.png" class="logo-google-play" >
                <img src="assets/Images/App_Store_Logo.svg" class="logo-App-Store" >
            </div> 
        </div>
    </div>
</div>